body,
html{
	width: 100%;
	height: 100%;
}

/*
	LOS HEDERS
*/

.hero{
	width: 100%;
	height: 100%;
	background-image: url("../img/ni.jpg") ;
	background-size: cover; 
}

.enlaces{
	width: 13.5%;
	height: 7%;
	padding: 1%;
	margin-top: 5%;
	color: white;
	background-color: #9B1FB4;
	position: fixed;
	text-align: center;
}

.header-logo2{
	text-align: center;
	margin-top: 20%;
	width: 0px;
    margin: 0 auto;

}

.logo-header img{
	width: 100%;
	height: 100%;
}

/*
    MENUS
*/

nav{
	margin-top: 50%;
	margin: 0%;
}

nav a{
	text-decoration: inherit;
	color: black;
	margin: 0%;
}

.grid {
	margin: 5% 0%;
}


.menu img{
	width: 90%;
}

.grid h3{
	border-bottom: 1px solid black;
	text-align: left;
}

/*
	Texto de hasta abajo 
*/

footer {
	background-color: #159BA4 ;
	padding: 2% 0%;
	color: white;
	text-align: center;
}